<header class="header">
  <div class="headerLeft"> 
           
    <div class="sidebar">
      <div role="button" class="icon" onclick="toggleMenu()">
        <img class="burgerIcon" src="./img/burger_icon.png">
      </div> 
      <div id="menu" class="show-overlay-menu">
        <button role="button" class="sidebarElements" onclick="showNotes()">
          <img class="img" src="./img/lamp.png">
          <div class="d-none">Meine Notizen</div>
        </button>
        <button role="button" class="sidebarElements" onclick="showDeletedNotes()">
          <img class="img" src="./img/trash_icon.png">
          <div class="d-none">Papierkorb</div>
        </button> 
      </div>
    </div>
      <div role="button" class="icon">
        <img class="keepImg" src="./img/keep_icon.png">
      </div>
      <div style="font-size: 28px">Notizen</div> 
    </div>
    <div class="searchField">
      <img class="img" src="./img/search_icon.png">
      <input role="search" placeholder="Diese Suche ist nur fake..."></input>
    </div>
    <div class="headerRight">
      <div role="button" class="icon">
        <img class="img" src="./img/rotate_icon.png">
      </div>
      <div role="button" class="icon">
        <img class="img" src="./img/settings_icon.png">
      </div>
      <div role="button" class="icon">
        <img class="img" src="./img/avatar_profile_icon.png">
      </div>
    </div>
    <div class="line"></div>
    </div>
  </header> 